@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Basis Grotesque Pro", Arial, sans-serif !important;
    
}
h1{
    font-size: 25px;
    font-weight: 600;
}
p{
    font-size: 14px;
}